<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ASCII Art Web</title>
    <link rel="stylesheet" href="/static/output.css" />
  </head>

  <body>
    <form action="/ascii-art1" method="POST">
      <header>
        <select name="banner" class="corner top-left">
          <option value="standard">Standard</option>
          <option value="shadow">Shadow</option>
          <option value="thinkertoy">Thinkertoy</option>
        </select>
      </header>
      <!-- Display an error notification if ErrorMessage is set -->
      {{if .ErrorMessage}}
      <div class="error-notification">
        <p>🚫 {{.ErrorMessage}}</p>
      </div>
      {{else}}

      <main>
        <div class="ResultContainer">
          <pre>{{.AsciiArt}}</pre>
        </div>
      </main>
      {{end}}
      <footer>
        <div class="TextContainer rounded-3xl position">
          <textarea
            name="text"
            class="Text"
            placeholder="Type Something   "
            rows="5"
            cols="33"
            maxlength="1000"
          ></textarea>
          <button class="button"><img src="/static/button.png" /></button>
        </div>
      </footer>
    </form>
  </body>
</html>
